body{
    background-color: lightskyblue;
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
    background-image: url(https://uploads.gamedev.net/projects/monthly_2021_02/large.115f89ff84bd4f569118bb4f17ec6381.background.png);
    background-size: 100%;
    background-repeat: no-repeat;
}

#logo{
    width: 300px;
    margin: 10px;
}

#logo:active{
    transform: scale(0.1);
    transition: all 2s ease;
}

.container{
    height: 258px;
    width: 258px;
    display: flex;
    flex-wrap: wrap;    
}

.box{
    height: 80px;
    width: 80px;
    background-color: lightgreen;
    border: 2px solid;
    border-radius: 10px;
    margin-right: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 45px;
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;  
    cursor: pointer;  
}

.box:active{
    transform: scale(0.7);
    transition: all 1s ease;
}

#popUp{
    height: 150px;
    width: 340px;
    background-color:antiquewhite;
    border: 3px yellowgreen solid;
    border-radius: 20px;
    position: absolute;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 15px 30px 10px 30px;
    display: flex;
    flex-direction: column;
    visibility: hidden;
}

#winResult{
    height: 60px;
    border-bottom: 3px solid yellowgreen;
    font-size:38px;
    font-weight: bolder;
    display: flex;
    justify-content: center;
}

#playAgain{
    height: 50px;
    margin-top: 22px;
    font-size: 26px;
    font-weight: bold;
    display: flex;
    justify-content: center;
}

#playAgainBtn{
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

#yes{
    height: 80px;
    margin: 0px 10px 0px 10px;
    transition: all 1s ease;
}

#yes:active{
    transform: scale(2);
}
